<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Hey!</h1>
  <p>Please select Inventory to add/edit a product info.</p>
  <p>Please select Billing to start billing.</p>
  <%- linkTo('Inventory', '/products', {class: 'btn btn-primary btn-large'}) %>
  <%- linkTo('Billing', mainsPath, {class: 'btn btn-primary btn-large'}) %>
</div>